html {
    color: #000;
    font-size: 10px;
    font-family: Karla, sans-serif;
    background-color: #000000;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #fefefe;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(78, 140, 190);
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-shadow: 1px 1px 5px grey;
}

p, li, a {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2;
}

img {
    display: block;
    margin: 0 auto;
}